# You can define code owners in public repositories with
# GitHub Free and GitHub Free for organizations,
# and in public and private repositories with
# GitHub Pro, GitHub Team, GitHub Enterprise Cloud,
# and GitHub Enterprise Server.

# Default reviewers/codeowners for all code changes
* @jge162 

# Reviewer by email for html files
# *.html test@gmail.com

# Reviewer by organization
# *.txt @organizationName/
